* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    position: relative;
    height: 100%;
    background-color: #f5f5f5;
  }
  
  body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  #box::after {
    content: "";
    width: 100px;
    height: 0;
    display: block;
    clear: both;
  }
  .lunbo{
    margin-bottom: 30px;
    z-index: 1;
    height: 310px;
    width: 1090px;
    margin: 0 auto;
    margin-top: 30px;
  }
  .lunbo .swiper-container {
    width: 100%;
    height: 310px;
    max-width: 1090px;
    margin: 0 auto;
  }
  
  .lunbo .swiper-slide {
    background-position: center;
    background-size: cover;
  }
  
  .swiper-button-white {
    background-repeat: no-repeat;
    position: absolute;
    z-index: 9;
    top: 150px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    opacity: 80;
    background-color: #E2C199;
    border-radius: 500px;
  }
  
  .swiper-button-prev:hover {
    background-color: #CC9756;
  }
  
  .swiper-button-next:hover {
    background-color: #CC9756;
  }
  
  .swiper-button-next {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    right: 10px;
  }
  
  .swiper-button-next::after {
    content: "";
    background: url(../img/icon-normal-s33e647f656-a21248af33.png) no-repeat;
    width: 50px;
    height: 50px;
    background-position: 0 -5628px;
  }
  .swiper-button-prev {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    left: 10px;
  }
  
  .swiper-button-prev::after {
    content: "";
    background: url(../img/icon-normal-s33e647f656-a21248af33.webp) no-repeat;
    width: 50px;
    height: 50px;
    background-position: 0 -5408px;
  }
  
  .swiper-pagination-bullet {
    background: white;
    opacity: 1;
  }
  
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    box-shadow: 0 0 0 4px #dfcead;
    background: #a7936e;
  }
  .data_ce{
    padding: 0 40px;
    position: relative;
    background-color: #fff;
    width: 1090px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 30px;
  }
  .m_top{
    margin-top: 10px;
    border-bottom: 1px solid #eaeaea;
    overflow: hidden;
  }
  .m_ortBar{
    border-top: none;
    overflow: hidden;
    line-height: 1;
    padding-top: 20px;
  } 
  .name{
    font-size: 14px;
    color: #999;
    float: left;
    margin-right: 28px;
  }
  .m_ortBar .group{
    overflow: hidden;
    float: left;
    margin-bottom: 4px;
    width: 930px;
  }
  .m_ortBar .group a{
    float: left;
    margin-right: 30px;
    margin-bottom: 16px;
    font-size: 14px;
    text-decoration: none;
    outline: 0;
  }
  .m_ortBar .group a:nth-child(1){
    color: #b4a078;
  }
  .m_ortBar .group a:hover{
    color: #b4a078;
    cursor: pointer;
  }
  .m_content{
    overflow: hidden;
    border-top: 1px dashed #dedede;
    line-height: 1;
    padding-top: 20px;
  }
  .name2{
    margin-right: 0;
    font-size: 14px;
    color: #999;
    float: left;
  }
  .cate{
    overflow: hidden;
    float: left;
    margin-bottom: 4px;
    width: 930px;
  }
  .cate a{
    float: left;
    margin-right: 30px;
    margin-bottom: 16px;
    font-size: 14px;
  }
  .cate a:nth-child(1){
    color: #b4a078;
  }
  .m_content .cate a:hover{
    color: #b4a078;
    cursor: pointer;
  }
  .m_rea{
    position: relative;
    overflow: hidden;
    padding: 20px 0;
    line-height: 1;
    border-top: 1px dashed #dedede;
  }
  .name3{
    font-size: 14px;
    color: #999;
    margin-right: 28px;
    float: left;
  }
  .m_rea a{
    margin-right: 30px;
    font-size: 14px;
  }
  .m_rea a:nth-child(1){
    color: #b4a078;
  }
  .sort{
    margin-right: 30px;
    font-size: 14px;
  }
  .icon{
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    margin-top: -2px;
    font-size: 14px;
  }
  .sort i{
      background-image: url(../img/hxm_yanxuan-web_p_20150730_style_img_x1_arrow-s8eb4a167a2-0736acf6d3.png);
      background-repeat: no-repeat;
  }
  .icon .icons{
    display: block;
    margin-bottom: 2px;
    background-position: 0 -1181px;
    height: 5px;
    width: 10px;
  }
  .icon .iconx{
    display: block;
    margin-top: 2px;
    background-position: 0 -673px;
    height: 5px;
    width: 10px;
  }
  .iconm{
    vertical-align: middle;
    display: inline-block;
    margin-left: 9px;
    margin-top: -2px;
    background-position: 0 -651px;
    height: 12px;
    width: 9px;
  }
  .m_bottom{
      border-top: 1px solid #dedede;
      overflow: hidden;
  }
  .x_hz{
    padding-top: 30px;
    overflow: hidden;
  }
  .head{
    text-align: center;
    line-height: 1;
    margin-bottom: 40px;
    text-align: center;
    line-height: 1;
  }
  .cente{
    margin-top: 25px;
    margin-right: -10px;
    list-style: none;
  }
  .head .title{
    display: inline-block;
    margin-bottom: 10px;
  }
  .head .title span{
    font-size: 24px;
    font-weight: 700;
    line-height: 44px;
  }
  .desc{
    font-size: 14px;
    color: #999;
    line-height: 1.5;
  }
  .cente li{
    float: left;
    margin-right: 10px;
    margin-bottom: 50px;
  }
  .m_proude{
    width: 245px;
    height: 381px;
    line-height: 1;
    text-align: center;
    font-size: 13px;
    position: relative;
  }
  .m_proude .hd{
    position: relative;
    margin-bottom: 8px;
    overflow: hidden;
    background-color: #f4f4f4;
  }
  .m_proude .img{
    width: 245px;
    height: 245px;
    transition: transform 1s;
    background-color: #f4f4f4;
    color: #f4f4f4;
    display: block;
    margin: 0 auto;
  }
  .img2{
    width: 100%;
    height: 100%;
  }
  .img2 img{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    display: none;
    width: 245px;
    height: 245px;
    background: #f4f4f4;
    color: #f4f4f4;
  }
  .img3{
    width: 48px;
    height: 48px;
    position: absolute;
    left: 6px;
    top: 6px;
  }
  .proBanner{
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-repeat: no-repeat;
    padding-right: 10px;
  }
  .proTitle{
    max-width: 200px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right;
    margin-top: -6px;
    z-index: 1;
    padding-left: 8px;
    padding-right: 14px;
    float: left;
    border-top-left-radius: 3px;
  }
  .tle{
    font-size: 12px;
    height: 15px;
    margin-top: 5px;
    margin-left: 0;
    padding-top: 0;
    text-align: center;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
  }
  .subtle{
    font-size: 14px;
    height: 20px;
    line-height: 14px;
    margin-top: -1px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .prom{
    color: #fff;
    text-align: left;
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 4px;
    padding-left: 4px;
  }
  .bd{
     width: 245px; 
     height: 107.2px;
  }
  .prd_tag{
    height: 20px;
    font-size: 0;
    color: #fff;
    width: 200px;
    margin: 0 auto 3px;
    overflow: hidden;
  }
  .prd_tag .m_item{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    color: #fff!important;
    padding: 0 5px;
    font-size: 12px;
    background-color: #e36844;
    margin-left: 0;
  }
  .me{
    padding: 0 10px;
    margin-bottom: 4px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .price{
    color: #d4282d;
    text-align: center;
  }
  .hone{
    display: inline-block;
    overflow: hidden;
    height: 20px;
    line-height: 22px;
  }
  .hei{
    margin-left: 6px;
    font-size: 12px;
    color: #999;
    text-decoration: line-through;
    display: inline-block;
    overflow: hidden;
    height: 20px;
    line-height: 22px;
  }
  .reac hr{
    display: block;
    width: 130px;
    height: 1px;
    padding: 0;
    margin: 6px auto 14px;
    border: 0;
    border-top: 1px solid #e8e8e8;
  }
  .reac p{
    width: 100%;
    padding: 0 10px;
    line-height: 18px;
    color: #999;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .m_proude:hover{
    box-shadow: 1px 1px 8px rgba(0,0,0,.2);
    background-color: #f4f0ea;
  }
  .m_proude:hover .img2 img{
      display: block;
  }